<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/dist/css/viewForm.css">
</head>

<body onload="window.print()">
    <div class="wrapper_small">
        <div id="divToPrint">
            <div class="billPrintWrapper">
                <div class="titleSec">
                    <div class="leftSec">P.D.P.C.C.S.-3 <br>
                        2000/05/2007</div>
                    <h2>Application for Additional Shares</h2>
                    <div class="rightSec">
                        Price Re.2/- <br>
                        No. 2020 /
                    </div>
                </div>

                <div class="section_cus">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="text_left col_2">
                                    <p>
                                        Serial No. ................................ <br>
                                        Date of Receipt ........................ <br>
                                        Receiving Official (initial..................)
                                    </p>
                                </td>
                                <td class="text_left align_top col_2 border_td">
                                    <p> Order of the Sanctioning authority <br>
                                        ..................................................... Shares alloted<br>
                                        <b>Chairman</b>
                                    </p>
                                </td>

                            </tr>

                            <td class="text_left col_2 border_td">
                                <p>
                                    Checked and Verified <br>
                                    Declaration regarding No. of <br>
                                    Shares held correct. <br>
                                    Date of last Purchase...................... <br>
                                    No. of Shares admissible............... <br>
                                </p>
                            </td>
                            <td class="text_left align_top col_2">
                                <p>Recommended for Sanction. <br>
                                    ..................................................... Shares only. <br>
                                    <b>Hony. Secretary</b>
                                </p>
                            </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="latter_sec">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="leftSec">
                                    <p>To <br>
                                        The Committee of Managemennt, <br>
                                        The Presidency Division Postal Co-operative Credit Society Ltd. <br>
                                        Alipore, Kolkata-700 027</p>
                                </td>
                                <td class="rightSec align_bot">
                                    <p>Dated.....................201</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="latter_sec_full">
                    <p>Gentlemen, <br>
                        I..........................................................................................beg
                        to state that I am
                        (in block letters)
                        already a member of the Society of which I hold at present...............................
                        Shares of Rs. 10/- each. My membership number is...........................................
                        I now request you to kindly allot me................additional shares of Rs. 10/- each</p>
                </div>


                <div class="section_cus">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>


                            <tr>
                                <td class="text_left col_2 border_td">
                                    <p>
                                        From...................to................. <br>
                                        Distinctive number alloted. <br>
                                        ........................................ <br>
                                        <b>Signature of officia</b>
                                    </p>
                                </td>
                                <td class="text_left align_top col_2">
                                    <p>Yours faithfully <br> <br>
                                        .................................................
                                        <b>(Full Signature)</b> <br>
                                        Designation............................. <br>
                                        Dept./Office.............................
                                    </p>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="latter_sec_full">
                    <p>(Delete one of the alternatives whichever is not applicable) <br>
                        i) I beg to state that I have already furnished the name of my nominee in my <br>
                        membership application.
                        ii) I beg to state that I have not furnished the name of my nominee in my
                        membership application and that the particulars of my nominee are now
                        furnished below. <br><br>
                        Name of Nominee............................................... <br> <br>
                        Precise relationship............................................. <br> <br>
                        Address............................................................... <br> <br>

                        ....................................
                        (Signature) <br> <br></p>

                    <p class="small_text">N. B. -

                        (1) Value of shares must be paid within 30 days of allotment (excluding the
                        date of sanction). <br>
                        (2) Last date of submission of shares application is 10th of each month.</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-primary" type="button" onclick="printDiv();">Print</button>
        </div>
    </div>
</body>

</html>